body {
  margin: 0px;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 100%;
}
.actionbar {
  padding-top: 15px;
  padding-bottom: 50px;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #252323;
  white-space: nowrap;
  overflow: auto;
}
.welcome {
  color: #F5F1ED;
  display: inline-block;
  padding-left: 70px;
}
.welcome h4 {
  font-style: italic;
}
.actions {
  display: inline-block;
  padding-left: 25%;
}
.link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  padding: 0 8px;
}
.link:hover {
  background-color: #F5F1ED;
  color: #70798C;
  padding: 14px 8px;
  text-decoration: none;
}


/*----------------------------------------------ImageSlider------------------------------------*/
.imageSlider {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
* {box-sizing: border-box;}
.img-comp-container {
  position: relative;
  height: 400px; /*should be the same height as the images*/
  margin: 20px auto 20px auto;
}
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}
.img-comp-img img {
  display:block;
  vertical-align:middle;
}
.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.carouselContainer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.carouselContainer h2 {
  font-style: italic;
  color: black;
}
.meatCarousel, .seafoodCarousel {
  max-width: 430px;
  display: inline-block;
  margin: 10px;
}
.carousel-inner img{
  width: 420px;
}
.img-text {
  position: absolute;
  bottom: 2px;
  right: 5px;
  color: white;
  background-color: black;
  opacity: 0.6;
  padding-left: 5px;
  padding-right: 5px;
}
